body{
    background-color: aqua;
}
.content{
    background-color: rgb(29, 27, 27);
    color:aliceblue;
    height: 100%;
    margin: 30px 0px;
}
section{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
img,.content, button, input{
    border-radius: 5px;
}
button{
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    color:aliceblue;
}
.primary{
    background-color: green;
}
.secondary{
    background-color: red;
}
input{
    border: none;
    padding: 15px 2px;
    margin-right: 10px;
}